.alerta {
  text-align: center;
  font-size: 2rem;
  color: $blanco;
  font-weight: $bold;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 1rem 0;
  &.error {
    background-color: $alerta;
  }
  &.exito {
    background-color: $verde;
  }

  &.amarillo {
    background-color: $amarillo;
  }
}

table.propiedades {
  margin-top: 4rem;
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid $gris;
  }

  thead {
    background-color: $verde;
    th {
      color: $blanco;
      padding: 1.5rem;
    }
  }

  .imagen-tabla {
    max-width: 15rem;
    max-height: 15rem;
    // width: 50%;
    // height: 100%;
    margin: 0 auto;
    object-fit: contain;
  }

  /* tr:nth-child(even) {
        background-color: #eee;
      } */

  form {
    margin: 0;
    padding: 0;
  }
}

.imagen-small {
  width: 30%;
}

.boton-sesion {
  padding: 5px 15px;

  &.iniciar {
    background-color: $verde;
    &:hover {
      background-color: darken($verde, 8);
    }
  }

  &.cerrar {
    background-color: $alerta;
    &:hover {
      background-color: darken($alerta, 8);
    }
  }
}
